body, h1, h2, h3, h4, h5, p, a, ul, ol {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS";
}

.line{
	position: absolute;
	top: 135px;
    left: 800px;
	width: 300px;
	height: 375px;
	background-color: #610000;
	clip-path: polygon(47.5% 0%, 100% 47.5%, 52.5% 75%, 0% 27.5%);
}
.glass{
	position: absolute;
	top: 12px;
    left: 15px;
	width: 270px;
	height: 345px;
	background-color: #6cd3e0;
	clip-path: polygon(47.5% 0%, 100% 47%, 54.5% 75%, 0% 27.5%);
}

.window {
	position: absolute;
	top: 256px;
    left: 799px;
    width: 135px;
    height: 154px;
    background-color: #6cd3e0;
    clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);
}

.roof {
	position: absolute;
	left: 643px;
    top: -43px;
	width: 300px;
	height: 375px;
	background-color: #610000;
	clip-path: polygon(47.5% 47.5%, 100% 47.5%, 52.5% 75%, 0% 75%);
}

.trunk {
	position: absolute;
	top: 313px;
    left: 957px;
    width: 300px;
    height: 300px;
    background-color: #610000;
    clip-path: polygon(47.5% 0%, 47.5% 30%, -50% 100%, 0% 34%);
}

.relative {
	position: relative;
}


.headlight {
	position: absolute;
	top: 69px;
    left: 10px;
    width: 105px;
    height: 135px;
    background-color: #f59038;
    clip-path: polygon(47.5% 0%, 47.5% 33%, -50% 89%, 0% 27.5%);
}

.headlight.-second {
	left: 85px;
    top: 13px;
}

.lamp {
	position: absolute;
	top: -1px;
    left: 10px;
    width: 105px;
    height: 135px;
    background-color: #ff3636;
    clip-path: polygon(47.5% 0%, 47.5% 33%, -50% 89%, 0% 27.5%);
}


.yellow {
	position: relative;
}
img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}


/*......*/

.corpus{
	position: absolute;
	top: 235px;
	left: 16.7%;
	width: 700px;
	height: 270px;
	background-color: #790000;
	clip-path: polygon(55.8% 0%, 80% 0%, 100% 66%, 100% 66%, 100% 100%, 80% 100%, 75% 85%, 65% 85%, 60% 100%, 40% 100%, 35% 85%, 25% 85%, 20% 100%, 0% 100%, 0% 66%, 25.8% 66%);
}

.front{
	position: absolute;
	top: 314px;
	left: 16.7%;
	height:100px;
	width:300px;
	clip-path: polygon(45% 0%, 100% 0%, 60% 100%, 0% 100%);
	background-color: #610000;
}

.window.-side{
	position: absolute;
	width: 320px;
	height: 150px;
	left: 30%;
	top: 10%;
	background-color:  #6cd3e0;
	clip-path: polygon(57% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hood{
	position: absolute;
	clip-path: polygon(37% 0%, 100% 0%, 70% 100%, 0% 100%);
	background-color: #400000;
	height:70px;
	width:250px;
	top: 15px;
	right: 0;
}

.frontlight{
	position: absolute;
	width: 30px;
	height: 50px;
	background-color:#f4df3a;
	left: 0;
	bottom: 10%;
	border-left:3px #d2aa26 solid;
}